.Flags-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.Flags .Flag-banner img{
    display: flex;
    width: 100%;
}
.Flag{
    background-color: #E8E8E8;
    box-shadow:#161616 ;
    border-radius: 8px;
}

.Flag-details{
    font-size: 18px;
}

